@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#070707;
	color: rgb(170, 154, 243);
	letter-spacing: 0.5px;
	transition: 0.5s;
	font-weight: bold;
	font-size: 23px;
}
.navbar-link:hover, :active{
color: #615d5f;
text-decoration: none;
}
.navbar-brand{
	letter-spacing: 0.5px;
	font-size: 28px;
}
h2{
	letter-spacing: 0.5px;
	font-family: raleway;
}